html{
  overflow-x: hidden;
}
:root {
  --header-font: 'Nunito Sans', sans-serif;
  --alt-font: 'Montserrat', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
body {
  background: #19191b;
  font-size: clamp(14px, 1vw + 0.5rem, 20px);
  overflow-x: hidden;
}
.content-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1050px;
  min-width: 0;
  margin: 0 auto;
  padding: 0 20px;
}
.d-flex {
  display: flex;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.header {
  height: 60px;
  position: relative;
}
.header-section {
  min-height: 100vh;
}
.logo {
  display: inline-block;
  width: 115px;
  height: 34px;
  padding: 40px 13px;
}
.main-menu {
  flex-wrap: nowrap;
  width: 100%;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.563rem;
  color: #ffffff;
}

 .main-menu:first-child a {
  color: #5454d4;
}
.main-menu li:not(:first-child) a {
  color: #fff;
}
.header-nav {
  position: fixed;
  top: 40px;
  left: 0;
  height: 100%;
  width: 100%;
  flex-direction: column;
  font-weight: 600;
  font-size: 1.125rem;
  margin-top: 3.75rem;
  padding: 1.25rem;
  background: #19191B;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}
.header-nav.show {
  transform: translateX(0);
}
.main-menu li {
  margin: 15px 0;
}
.burger-menu {
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 20px;
  color: #ffffff;
  z-index: 110;
  
}
.burger-menu i {
  position: absolute;
  top: 20px;
  left: 0;
  font-size: 24px;
  transition: transform 0.3s ease, opacity 0.3s ease;

}
.header-pos {
  margin: 40 24;
}
#closeIcon {
  opacity: 0;
  transform: rotate(-90deg);
}

.burger-menu.open #openIcon {
  opacity: 0;
  transform: rotate(90deg);
  
}

.burger-menu.open #closeIcon {
  opacity: 1;
  transform: rotate(0deg);
}

.main-contact {
  display: inline-block;

  min-width: 157px;
  min-height: 44px;
  padding: 8px 11px;
  text-align: center;
  border: 2px solid #ffffff;
  font-size: 1rem;
  border-radius: 4px;
}
.burger-menu .fa-xmark {
  display: none;
}

.d-none {
  display: none;
}

.burger-menu.open .fa-xmark {
  display: inline;
}
.title {
  color: #fff;
  min-height: 392px;
  max-width: 582px;
  margin-top: 85px;
  margin-bottom: 40px;
  margin-right: 20px;
  margin-left: 5px;
}
h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 42px;
  line-height: 150%;
  min-height:100px;
  width:100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
p {
  font-family: 'Nunito Sans';
  font-style: normal;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 30px;
  margin-bottom: 50px;
  margin-right: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.btn {
  font-family: 'Nunito Sans';
  display: flex;
   
  justify-content: center;
  
  min-height: 44px;
  max-width: 166px;
  border-radius: 4px;
  color: #fff;
  align-items: center;
  background: #5454d4;
  text-align: center;
  padding: 12px 10px;
  font-weight: 700;
  font-size: 16px;
}
.icon-service {
  position: relative;
  top: 1px;
  margin-left: 14px;
}
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 600px;
  padding: 0 5%;
  position: relative;
  z-index: 1;
}

.hero-visual {
  position: relative;
  max-width: 420px;
  width: 100%;
  margin:10vh 0;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image-stack {
  position: relative;
  width: 100%;
  height: 470px;
  max-width: 370px;
  z-index: 2;
}

.rect {
  position: absolute;
  border-radius: 24px;
  box-sizing: border-box;
}

.rect-white {
  width: 75%;
  height: 55%;
  border: 3px solid #ffffffa8;
  top: 30%;
  left: 10%;
  transform: rotate(23deg);
  z-index: 1;
}

.hero-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  border-radius: 24px;
  z-index: 2;
}

.hero-decor {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.decor-line {
  position: absolute;
  top: 100px;
  left: -10px;
  object-fit: cover;
  width: 60px;
}

.decor-circles {
  position: absolute;
  object-fit: cover;
  width: 36px;
  top: 70px;
  right: 30px;
}

.decor-plus {
  position: absolute;
  object-fit: cover;
  width: 39px;
  bottom: 50px;
  right: 20px;
}
 .pos-triangle
 {
  position: absolute;
  top: 395px;
  left: -10px;
 }
.decor-triangle {
  
  object-fit: cover;
  width: 70px;
  bottom: 40px;
  
}


.Rectangle {
 

  position: absolute;
  width: 34.52vh;
  height: 91.23vh;
  left: 106px;
  top: -32px;

  background: linear-gradient(
    180deg,
    rgba(84, 84, 212, 0.27) 0%,
    rgba(84, 84, 212, 0.1134) 100%
  );
  filter: blur(150px);
  border-radius: 233.5px;
  transform: rotate(-41.34deg);
}

.rect-wrapper
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  min-height: 175vh;
  z-index: -1;
}

.Rectangle2 {
 

  position: absolute;
  width: 29.45vh;
  height: 88.21vh;
  left: 156.6px;
  top: 500.85px;

  background: linear-gradient(
    180deg,
    rgba(251, 168, 28, 0.26) 0%,
    rgba(224, 86, 136, 0.15) 100%
  );
  filter: blur(150px);
  border-radius: 233.5px;
  transform: rotate(44.85deg);
}
.h-style
{
 font-family: 'Montserrat';
 color:#FFFFFF;
 font-weight: 700;
 font-size: 36px;
 line-height: 150%;
 
}
.main-image
{
  width:100%;
  height:19.30vh;
  margin-right: 1.5rem;
  
}
.about-choice
{
  margin-top:8.75rem;
  padding:0 1.5rem;
}

.service-section .container  {
  position: relative;  
  

}
.portfolio .container
{
  position: relative;
}
.pos-triangle2 {
  position: absolute;
  top: -40px;
  left: 15px;
  width: 45px;
  height:45px;
}

.decor-plus2 {
  position: absolute;
  top:117px;
  right: 0;
  width: 25px;
}




h3
{
  margin: 5rem 1.5rem;
  
}

.services-container span {
  font-family: 'Nunito Sans';
  display: block;
  text-align: center;
  font-size: 24px;
  margin: 20px 0;
  color: #fff;
}

.services-container {
  display: flex;
  flex-direction: column; 
  text-align: center;
  gap: 20px;
  padding: 20px;
}

.service-icon {
  width: 69px;       
  height: 69px;   
}




.decor-plus3
{
  position:absolute;
  object-fit: cover;
  width:28px;
  height:28px;
  top:-65px;
  left:20px;
}
h4
{
  max-width:33vh;
  min-height:11.33vh;
  margin: 70px 24px;
  
}


.decor-circles2
{
position: absolute;
width: 39.37px;
height: 46.32px;
left: 310px;
top: 60px;
transform: rotate(-20.89deg);
}



.portfolio-slider {
  min-height: 400px;
  overflow-x: hidden; 
  overflow-y: visible;
  position: relative;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  background: #1E1E20;
  border-radius: 20px;
  min-height: 294px;
  text-align: center;
  flex: 0 0 100%; 
  transition: transform 0.5s ease;
}

.slide img {
  max-width: 100%;
  padding: 24px;
}


.swiper-pos
{
  display: flex;
  justify-content: center; 
  align-items: center;     
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;

}
.swipe 
{
 position:relative;
  
}
.line-pos
{

position: relative;
width: 61.07px;
height: 18px;
left: 33px;
top: 40px;

}
.contact 
{
width: 100%;
min-height: 416px;
margin-top:5rem;
margin-bottom:9rem;
background: rgba(30, 30, 32, 0.5);
 display: flex;
 flex-direction: column; 
  align-items: flex-start; 
  gap: 20px;
  

}
.cnt-pos
{
  margin-top:10rem;
}
.cnt-pos .contact
{
  position: relative;
}
.cnt 
{ 
  min-width: 166px;
  min-height: 44px;
  background: #5454D4;
  margin-left:24px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  
  font-family: 'Nunito Sans';
  line-height: 44px; 
  text-align: center; 
  display: inline-block;
  border-radius: 2px;
}
h5
{
  padding-top:5rem ;
  padding-bottom:1rem ;
  padding-left:1.5rem;
  
}
.pos-plus2
{
  position: absolute;
   width:28px;
  height:28px;
  top:25px;
  right:15px;
 
}
.pos-circle2
{
  position: absolute;
  width:40px;
  height:46px;
  top:366px;
  left:15px;
  transform: rotate(-0 deg);
}
.video-container{
  position: relative;
}

.video-overlay{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4); 
}
.footer {
  display: flex;
  flex-direction: column;   
  align-items: center;
  text-align: center;
  gap: 10px;
  background: #19191B;
  padding: 20px;
  color: #fff;
  font-size: 14px;
}

.footer .logo  {
  width: 120px;
  height: auto;
  display: block; 
  margin: 0 auto;
}

.footer-nav {
  font-family: 'Nunito Sans';
  display: flex;
  align-items: center;    
  text-align: center;
  flex-direction: column;
  line-height: 4;
  font-size: 18px;
 
}

.footer-nav a {
  
      color: rgba(255, 255, 255, 0.7);
}

.footer-copy
{
  font-family: 'Montserrat';
  color:white;
  
}
.swipe2
{
  display: none;
}
/*-----------------Media Queries----------------- */
/* ----------------- b) iPads, Tablets – 481px—768px ----------------- */
@media (min-width: 481px) and (max-width: 768px) {
  .header {
    height: 90px;
  }
  
  .main-menu {
    float: left;
    flex-direction: row;
    gap: 5px;
  }

  .logo {
    margin-left: 5%;
  }
  
  p {
   
    line-height: 39px;
  }
  .hero-visual {
    position: relative;
    max-width: 500px;
    width: 100%;

    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-nav{
    background: #19191B;
  }
 .main-image 
 {
  height:40vh;
 }

.pos-triangle2 {
    top: -45px;
    left: 20px;
    width: 50px;
  }

  .decor-plus2 {
    top:140px;
    right: 10px;
    width: 30px;
  }
  .contact
  {
    position:relative;
  }
 .decor-circles2
 {
  position: absolute;
  left:400px;
 }
 .footer-nav {
  font-family: 'Nunito Sans';
  display: flex;
  align-items: center;    
  text-align: center;
  flex-direction: column;
  line-height: 4;
  font-size: 18px;
 
}
.swipe2
{
  display: none;
}
}

/* ----------------- c) Small screens, laptops – 769px—1024px ----------------- */
@media (min-width: 769px) and (max-width: 999px) {
  .content-wrap {
    display: flex;
    align-items: center;
    
    padding: 0 20px;
  }
  
  .header-nav {
    display: flex;
    position: static;
    align-items: center;
    width: 100%;
    margin: 45px 0 0 0;
    background: none;
    transform: translateX(0);
    padding: 0;
  }

  .main-menu {
    display: none;
  }

  .main-contact {
    margin-left: auto;
    margin-top: -10px;
  }

  .hero-visual {
    position: relative;
    max-width: 500px;
    width: 100%;

    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container 
 {
   display: flex;
  justify-content: space-between; 
            
  gap: 20px;
}

h3
{
  margin-left:4vw;
  
}
.main-image 
{
  height:50vh;
}
.pos-triangle2 {
    top: 30px;
    left: 20px;
    width: 60px;
  }

  .decor-plus2 {
    top:220px;
    right: 20px;
    width: 35px;
  }
  .contact
  {
    position:relative;
  }
  .decor-circles2
  {
    position: absolute;
   top:150px;
   left:680px;
   
  }
 
 h4
 {
  max-width:60vh;
 }
.footer-nav {
  font-family: 'Nunito Sans';
  display: flex;
  align-items: center;    
  text-align: center;
  flex-direction: column;
  line-height: 4;
  font-size: 18px;
 
}

.contact {
        display: flex; 
        flex-direction: row;       
        justify-content: space-between; 
        align-items: center;
    }

    .contact h5 {
        margin:0 3rem;
    }

    .cnt {
        margin:0 3rem; 
    }
   

}

/* ----------------- d) Desktops, large screens – 1025px—1200px ----------------- */
@media (min-width: 1000px) and (max-width: 1200px) {
  .content-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
  }
.burger-menu
  {
    display: none;
  }
  .header-nav {
    position: static;
    width: 100%;
    margin: 0;
     background: none;
    margin-top: 43px;
    margin-left: 20%;
    transform: translateX(0);
    padding: 0;
  }
  .hero-section {
    flex-direction: row;
  }
  .main-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  .main-contact {
    margin-left: auto;
  }

  .hero-visual {
    position: relative;
    max-width: 500px;
    width: 100%;

    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .h-style
{
  font-size: 60px;
}
article
{
  margin-top:140px;
}
  .Rectangle {
    

    position: absolute;
    width: 63.97vh;
    height: 168.9vh;
    left: -201.52px;
    top: -600px;

    background: linear-gradient(
      180deg,
      rgba(84, 84, 212, 0.27) 0%,
      rgba(84, 84, 212, 0.1134) 100%
    );
    filter: blur(150px);
    border-radius: 233.5px;
    transform: rotate(-54.37deg);
  }

  .Rectangle2 {     
    width: 3.97vh;
    height: 168.9vh;
    left: 926px;
    top: 161px;
    transform: rotate(65.37deg);
  }

  .container 
 {
    display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom:5.24vh;
}
h3
{
  
  max-width:33vh;
 
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
h4
 {
  max-width:60vh;
 }
  .main-image 
{
  height:70vh;
}
.service-section h3 {
  margin: 0;
}
.service-section
{
  margin:6.82rem 0;
}
.pos-triangle2 
{
  left:100px;
  top:5px;
}
.decor-plus2
{
  right:90px;
  transform: rotate(-54.37deg);
}
.decor-plus3
{
 transform: rotate( -25.34deg);
}
.decor-circles2
{
  width:62px;
  height:73px;
  top:150px;
  left:760px;
}

.contact {
        display: flex; 
        flex-direction: row;       
        justify-content: space-between; 
        align-items: center;
    }

    .contact h5 {
        margin:0 3rem;
    }

    .cnt {
        margin:0 3rem; 
    }
  .slide {
    flex: 0 0 calc(100% / 3); 
  }
  .slide:nth-child(3n+1) {
    transform: translateY(-20px);
  }
  .slide:nth-child(3n+2) {
    transform: translateY(10px);
  }
  .slide:nth-child(3n+3) {
    transform: translateY(40px);
  }
  .slide {
    background: transparent;
  }
  .btn
  {
    width:204px;
    height:58px;
  }
  .swipe
{
  display:none;
}
.swipe2 {
    display: flex; 
    justify-content: center;
  }

 .dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 15px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}
    .dot-active {
        
        background: #5454d4;
      
       
    }
p
 {
  font-size:21px;
 }
}

/* ----------------- e) Extra large screens, TV – 1201px+ ----------------- */
@media (min-width: 1201px) {

  /* IMG RESIZE */
  .hero-img{
    min-width: 670px;
    left: -85px;
  }
.burger-menu
  {
    display: none;
  }
  .hero-image-stack{
    height: 720px;
  }

  .rect-white{
    width: 100%;
  }

  .decor-line{
    top: 120px;
  }
  .decor-circles{
    right: -70px;
  }

  .decor-plus{
    right: -50px;
  }

  .decor-triangle{
    top: 600px;
    left: -100px;
  }
 h4
 {
  max-width:90vh;
 }
  .content-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .header-nav {
    position: static;
    width: 100%;
    margin: 0;
     background: none;
    margin-top: 43px;
    margin-left: 20%;
    transform: translateX(0);
    padding: 0;
  }
.h-style
{
  font-size: 60px;
}
  .main-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .main-contact {
    margin-left: auto !important;
  }

  .hero-section {
    flex-direction: row;
  }

  .hero-visual {
    position: relative;
    max-width: 500px;
    width: 100%;

    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn
  {
    width:204px;
    height:58px;
    
  }
  .Rectangle {
  

    position: absolute;
    width: 63.97vh;
    height: 168.9vh;
    left: -201.52px;
    top: -600px;

    background: linear-gradient(
      180deg,
      rgba(84, 84, 212, 0.27) 0%,
      rgba(84, 84, 212, 0.1134) 100%
    );
    filter: blur(150px);
    border-radius: 233.5px;
    transform: rotate(-54.37deg);
  }
  .Rectangle2 {
    

    width: 63.97vh;
    height: 168.9vh;
    left: 926px;
    top: 161px;
    transform: rotate(65.37deg);
  }
  .container 
 {
   display: flex;
  justify-content: space-between; 
  gap: 20px;
  margin-bottom:5.24vh;
}
h3 
{
  width: 36.19vw;
  height:auto;
  text-align: center;
    position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top:-90px;


}

.main-image
{
  height:70.30vh;
  
}

.play
{
  width:100px;
  height:100px;
}
.service-section h3 {
  margin: 0;
}
.service-section
{
  margin:6.82rem 0;
}
.pos-triangle2 
{
  width:100px;
  height:110px;
  left:100px;
  top:-35px;
}
.decor-plus2
{
  right:70px;
  top:10px;
  transform: rotate(-54.37deg);
}
.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 40px; 
  padding: 40px;
}

.services-container article {
  border-radius: 16px;
  padding: 20px;
  text-align: center;
}
.decor-plus3
{
 transform: rotate( -25.34 deg);
}
.decor-circles2
{
  width:62px;
  height:73px;
  top:110px;
  left:960px;
}
.footer {
    display: flex;
    flex-direction: row;       
    justify-content: space-between;
    align-items: center;
    text-align: left;
    
     
}
 p
 {
  font-size:21px;
 }
.footer-nav ul {
    display: flex;       
    flex-direction: row; 
    gap: 30px;           
    list-style: none;    
    padding: 0;          
    margin: 0;          
}
.footer-copy {
       
    margin-top: 0;       
    margin-bottom: 0;      
    line-height: 1.2;
    color: white;
}
.contact {
        display: flex; 
        flex-direction: row;       
        justify-content: space-between; 
        align-items: center;
    }

    .contact h5 {
        margin:0 3rem;
    }

    .cnt {
        margin:0 3rem; 
    }
  .slide {
    flex: 0 0 calc(100% / 3); 
  }
  .slide:nth-child(3n+1) {
    transform: translateY(-20px);
  }
  .slide:nth-child(3n+2) {
    transform: translateY(10px);
  }
  .slide:nth-child(3n+3) {
    transform: translateY(40px);
  }
  .slide {
    background: transparent;
  }
 .swipe
 {
  display:none;
 }
.swipe2 {
    display: flex; 
    justify-content: center;
  }

 .dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 15px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}
.dot-active {
        
        background: #5454d4;
      
       
    }

}

/*-----------------End of Media Queries----------------- */
