* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.page-container {
	max-width: 980px;
	margin: 20px auto 0;
	display: flex;
}
.left-side {

	width: 25%;
	background-color: #3a5e90;
	color: white;
	padding:  0px 20px;
}
.right-side {

	width: calc(75% - 6px);
	
}
ul {
  font-size: 14px; 
  margin: 10px 0;  
  list-style: none;
}
a {
    color: white; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}
dl dt
{
  font-weight: bold; 
}
section
{
  margin: 20px 0;
}
 dd
{
  margin-bottom:  10px ;
}
 ul li
{
  font-weight: bold; 
  margin-bottom:  10px ;
}
hr
{
  
    width: 260px;
    height: 2px; 
    margin-top: 10px;
    background-color: white; 
    border: none; 
}
table td:nth-child(even) {
    text-align: right; 
}
.profile-photo
{
  display: block; 
  margin: 0 auto;
  border-radius: 50%;
}
