* {
  margin: 0 10px;
  padding: 0;
  box-sizing: border-box;
}
.page-container {
  max-width: 980px;
  margin: 20px auto ;
  display: flex;
  gap: 50px;
}
.left-side {
  
  width: 25%;
  background-color: #3a5e90;
}

.right-side {
  float: right;
  width: calc(75% - 5px);
}


ul li {
  
  list-style: none;
  font-size: 14px; /* Розмір шрифту */
  color: black; /* Колір тексту */
  margin-bottom: 10px;  // Відстань між елементами списку
  line-height: 10;  // Відстань між рядкам тексту всередині елемента
}
#title {
  
  display: block; 
  font-size: 17px; /* Змінює розмір шрифту */
  color:white; /* Змінює колір тексту */
  text-align: left; /* Вирівнює текст по центру */
  font-weight: bold;
   margin-bottom: 15px;  // Відстань між елементами списку
  line-height: 1.6;  // Відстань між рядками тексту всередині елемента
}
.left-hr {
  height: 2px;
  width: 240px;
  background-color: white;
}
.right-hr
{
 height: 2px;
 background-color: grey;
 margin-bottom: 15px;
}
.textwhite li
{
   color: white;
}
.profile-photo
{
  border-radius: 50%;
}
p
{
 line-height: 1.5;  // Відстань між рядками тексту всередині елемента
  margin-bottom: 20px;
}
.header
{
line-height: 1.6; 
margin-bottom: 25px;
}
.exp
{
margin-bottom: 15px;
}

table{
line-height:2;
}
td{
font-size: 14px;
}
.rate{
text-align:right;
font-weight: 400;
}
.date{
float:right;
font-weight:400;
}
h3 > .date{
font-size:16px;
}
