
        body { font-family: sans-serif; padding: 20px; }
        
        #tabs .tab {
            display: inline-block;
            padding: 5px 10px;
            cursor: pointer;
            position: relative;
            z-index: 5;
        }

        #tabs .whiteborder {
            border: 1px solid #707070;
            border-bottom: 1px solid #fff;
            border-radius: 3px 3px 0 0;
            background-color: #fff;
        }

        #tabs .tabContent {
            width: 500px;
            min-height: 350px;
            border: 1px solid #707070;
            position: relative;
            top: -1px;
            z-index: 1;
            padding: 20px;
            border-radius: 0 0 3px 3px;
            background-color: #fff;
            box-sizing: border-box; 
        }

        #tabs .hide { display: none; }
        #tabs .show { display: block; }

        .control-group { margin-bottom: 15px; }
        .control-group label { display: inline-block; width: 200px; }
        input[type="range"] { vertical-align: middle; }
        input[type="text"] { width: 40px; text-align: center; }
        textarea {
            width: 100%;
            height: 60px;
            margin-top: 20px;
            font-family: monospace;
            border: 1px solid #ccc;
            padding: 5px;
        }

       
        #block {
            width: 150px;
            height: 150px;
            background: green;
            margin: 20px auto;
            border: 2px solid #333;
        }

   
        .demo-list {
            border: 1px solid #ccc;
            padding: 20px;
            margin: 20px 0;
            background: #f9f9f9;
            width: 200px;
        }
        .demo-list ul {
            margin: 0;
            padding-left: 20px; 
           
        }
        .demo-list li {
           
            margin-bottom: 5px;
            border: 1px solid #ddd;
        }